@(eventForm: Form[models.Events], user: models.users.User)

@import helper._
<!--Brandon did this page-->
@temp("Add Event", user) {
<p class="lead">Add or update a new event</p>

    @form(action=routes.HomeController.addEventSubmit(), 'class -> "form-horizontal", 'role -> "form") {
    
    @CSRF.formField

    @inputText(eventForm("name"), '_label -> "Name", 'class -> "form-control")
    @inputText(eventForm("venue"), '_label -> "Venue", 'class -> "form-control")
        @select(
            eventForm("category.id"),
            options(Category.options),
            '_label -> "Category", '_default -> "-- Choose a category --",
            '_showConstraints -> false, 'class -> "form-control"
            )

    @inputText(eventForm("date"), '_label -> "Date", 'class -> "form-control")
    @inputText(eventForm("price"), '_label -> "Price", 'class -> "form-control")

    @inputText(eventForm("id"), '_label -> "", 'hidden -> "hidden")

    <div class="actions">

        <input type="submit" value="Add/Update Event" class="btn btn-primary">
        <a href="@routes.HomeController.events(0)">
            <button type="button" class="btn btn-warning">Cancel</button>
        </a>

    </div>
}
}