@(user: models.users.User)
<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script data-require="jquery@@3.0.0" data-semver="3.0.0" src="/assets/javascripts/jquery.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <link data-require="bootstrap-css@@3.3.6" data-semver="3.3.6" rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
        <link data-require="bootstrap@@3.3.6" data-semver="3.3.6" rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="/assets/stylesheets/style.css" />
        <script  type="text/javascript" src="/assets/bootstrap/js/bootstrap.js"></script>
    </head>
<body>
    <!--Ronan did this page-->
    <title>Profile Information</title>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src ="/assets/images/logo.png">
            </div>
            <ul class="nav navbar-nav"><li><a href="/"><font color="#d3d3d3"; size="3">Ticket Shark |</font></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/venues">Venues</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/aboutus">About us</a></li>
				@if(user != null ){
                    <li><a class= "active" href="/profile">My Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                    
                    } else {
                    <li><a href="/login">Login</a></li>    
                    }
                
    </nav>
    <div class="container">
        <div class="col-sm-8">
            <div class="well main1">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="wellprofile">
                            <h4>Account balance</h4>
                            <p>€0.00</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="wellprofile">
                            <h4>Profile Information</h4>
                            <p>Name: dd</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wellprofilelow">
                            <h4>Last Transaction</h4>
                            <p>blah</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wellprofilelow">
                            <h4>Email address</h4>
                            <p> fdfdf@@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wellprofilelow">
                            <h4>Update profile</h4>
                            <li><a href="/form">Click me</li>
						</div>
					</div>

                </div>
				</div>
				</div></div>
				
				<div class="footerprofile">
                    <img src="/assets/images/Concert.jpg">
                    </img></div>
				
	 
</body>
    </div>



</html>