@(venues: List[models.Venues], user: models.users.User)
<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script data-require="jquery@@3.0.0" data-semver="3.0.0" src="/assets/javascripts/jquery.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <link data-require="bootstrap-css@@3.3.6" data-semver="3.3.6" rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
        <link data-require="bootstrap@@3.3.6" data-semver="3.3.6" rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="/assets/stylesheets/style.css" />
        <script  type="text/javascript" src="/assets/bootstrap/js/bootstrap.js"></script>
    </head>

<body>
    <!--Ronan did this page-->
    <!--Brandon did the tables & db-->
    <title>Venues</title>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src ="/assets/images/logo.png">
            </div>
            
            <ul class="nav navbar-nav"><li><a href="/"><font color="#d3d3d3"; size="3">Ticket Shark |</font></a></li>
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/venues">Venues</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/aboutus">About us</a></li>
				@if(user != null ){
                    <li><a href="/profile">My Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                    
                    } else {
                    <li><a href="/login">Login</a></li>    
                    }

                
    </nav>

    <div class="container">

        
        <div class="row">
            <div class="col-sm-8">
                <div class="well main">

                    <table id="venuesTable" class="table table-bordered table-condensed">
                        
                        <thead>
                        
                        
                        <tr>
                        
                        <th>ID</th>
                        
                        <th>Name</th>
                        
                        <th>Country</th>
                        
                        <th>City</th>
                        
                        <th>Capacity</th>
                        
                        </tr>
                        
                        </thead>
                        
                        <tbody>
                        
                        @for(v<-venues) {
                        <tr>
                        
                        <td>@v.getId</td>
                        
                        <td>@v.getName</td>
                        
                        <td>@v.getCountry</td>
                        
                        <td>@v.getCity</td>
                        
                        <td>@v.getCapacity</td>

                        
                            @if(user != null){
                        <td>
                          <a href="@routes.HomeController.updateVenue(v.getId)" class="button-xs btn-danger" onclick="return confirmDel();">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </a>
                        </td>
                        <td>
                          <a href="@routes.HomeController.deleteVenue(v.getId)" class="button-xs btn-danger" onclick="return confirmDel();">
                            <span class="glyphicon glyphicon-trash"></span>
                          </a>
                        </td>
                    }
                        </tr>
                      
                    }
                        
                        </tbody>
                        
                        </table>
                        
                        @if(user != null){
                        <p>
                          <a href="@routes.HomeController.addVenue()">
                              <button class="btn btn-primary">Add a venue</button>
                          </a>
                      
                        </p>
                    }
                </div>
            </div>
        </div>
        
        <div class="footer">
            <img src="/assets/images/Concert.jpg">
            </img></div>

</body>
</html>